@import "reset";
@import "utils/mixins";
@import "utils/responsive";
@import "utils/variables";
@import "fonts";


html {
    @extend %cover;
  
    // background: var(--color-chartreuse);
    color: var(--color-white);
    font-size: calc(100vw / 1280 * 10);
    font-family: var(--font-monument-extended);
    line-height: 1;
    overflow: hidden;
    position: fixed;

    @media(max-width: 768px) {
      font-size: calc(100vw / 768 * 10);
    }

    @media(max-width: 420px) {
      font-size: calc(100vw / 420 * 10);
    }
}
  
body {
  @extend %cover;

  position: fixed;
  color: #99C4E4;
  background-color: var(--color-cornflower-blue);
}

#app {
  // background: var(--color-chartreuse);
}
