:root {
    --color-chartreuse: #80FF00;
    --color-white: #FFF;
    --color-carousel-pink: #FAE2F7;
    --color-shocking-pink: #FD1EBC;
    --color-golden-fizz: #FBFF35;
    --color-blush-pink: #FF79EA;
    --color-rose-bud-cherry: #880E64;
    --color-radical-red: #FD1E6E;
    --color-torea-bay: #0D2A92;
    --color-blue-ribbon: #0057FF;
    --color-cornflower-blue: #99C4E4;
    --font-monument-extended: 'Monument Extended'
    --font-roboto: 'Roboto'
    --font-comic-sans-ms: 'Comic Sans MS'
}
