.flower {
    position: absolute;
}
.flowerOne {
    position: absolute;
    left: 2rem;
    bottom: 7rem;
    width: 13rem;
    height: 13rem;
}

.flowerTwo {
    position: absolute;
    top: 40rem;
    right: 7rem;
    width: 10rem;
    height: 10rem;
}

.flowerThree {
    position: absolute;
    top: 7rem;
    right: 27rem;
    width: 8rem;
    height: 8rem;
}
