.Preloader {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-cornflower-blue);
    color: black;

    .myNameIs {
        width: 44rem;
        height: 9.5rem;
    }

    img {
        width: 87rem;
        height: 26rem;
    }
}
