.Works {
    cursor: pointer;
    position: absolute;
    padding: 0 5rem;
    bottom: 0;
    right: 17rem;
    width: 39rem;
    height: 58rem;
    border-radius: 5rem;
    background: var(--color-blush-pink);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.logo {
    // position: relative;
    flex-shrink: 0;
    transform: translateX(0%);
    width: 29rem;
    height: 48.5rem;

    // transition: transform 1s ease;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--color-golden-fizz);
    border: 0.2rem var(--color-torea-bay) solid;
    color: var(--color-blue-ribbon);
    font-size: 3.5rem;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close::after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
  }

