.SocialMedia {
    display: flex;
    gap: 3rem;
    padding-left: 13.3rem;

    @media(max-width: 768px) {
        padding-left: 0;
        gap: 4rem;
      }
  
    svg {
        opacity: 0;
        width: 4rem;
        height: 4rem;
        transition: scale 0.3s ease;

        &:hover {
            scale: 1.2;
        }

        @media(max-width: 768px) {
            width: 30px;
            height: 30px;
          }
    }
}