.work {
    // display: none;
    opacity: 0;
    position: relative;
    flex-shrink: 0;
    width: 67rem;
    height: 48.5rem;
    border-radius: 2.5rem;
    overflow: hidden;
}

.figure {
    position: relative;
    width: 67rem;
    height: 48.5rem;
}

.image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    // background-image: url('../../../shared/assets/pictures/work1.png');
    object-fit: cover;
    background-size: cover;
}

.description {
    opacity: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    z-index: 10;
    width: 35rem;

    // height: 23.5rem;
    flex-shrink: 0;
    color: var(--color-chartreuse);
    text-align: center;
    font-family: 'Monument Extended';
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

.descriptionText {
    opacity: 0;
}
